<div class="footer-copyright">
  <div class="container-fluid">
                        <p class="text-muted">&copy; Copyright 2016 Derek Palmer</p>
  </div>
</div>

<!--Animations initialization-->
<script type="text/javascript">
 new WOW().init();
</script>
