<!DOCTYPE html>
<meta charset="utf-8">
<title>Twitter Analyst</title>

<link type="css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.2.0/css/mdb.min.css" />
<link type="css" rel="stylesheet" href="../assets/css/styles.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.2.0/js/mdb.min.js"></script>
<script type="text/javascript" src="../assets/app.js"></script>
